SERVICE_NAME=usecase2b-be
BASE_URL=http://localhost:8100
PORT=8100
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=user
DB_PASS=pass
DB_NAME=dbname
DB_SSL_MODE=disable
ALLOWED_ORIGINS=*
JWT_SECRET_KEY=RandomJWTSecretKey
TIMEZONE=Asia/Singapore
ACCESS_TOKEN_TTL=600
REFRESH_TOKEN_TTL=7776000
